<h1><%= link_to 'My Look', root_path, class: "#" %></h1>

<h2>商品詳細ページ</h2>

<%#画像 %>
<div class="item-img-content">
  <%= image_tag @item.image.variant(resize: '500x500') %>
</div>

<button type="button" class="btn btn-light">
<%= link_to '編集', edit_top_path, class: "#" %>
</button>

<button type="button" class="btn btn-secondary">
<%= link_to '削除', top_path, method: :delete, class: "#" %>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col-md-3">Item information</th>
      <th scope="col-md-9">Item information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">color</th>
      <td><%= @item.color.id%></td>
    </tr>
    <tr>
      <th scope="row">brand</th>
      <td><%= @item.brand%></td>
    </tr>
    <tr>
      <th scope="row">size</th>
      <td colspan="2"><%= @item.size %></td>
    </tr>
    <tr>
      <th scope="row">memo</th>
      <td colspan="2"><%= @item.memo %></td>
    </tr>
  </tbody>
</table>

<div>
最近このアイテムは閲覧されていませんでした
手放そうかなと思っている方は<%= link_to 'こちら', 'https://furima-38096.herokuapp.com/' %>
</div>