
<%= link_to 'アイテム登録', new_item_path, class: "#" %><br>
<%= link_to 'コーディネート', '#', class: "#" %><br>
        

<div class="menu-bar">
    <ul class="menu-elements">
      <li id="menu1">
        <%= image_tag 'wear.png' , size: '300x200' ,class: "#" %>
        <ul class="menu1-lists hidden" id="menu1-pull-down">
          <li><%= link_to 'トップスを見る',tops_path %></li>
          <li><%= link_to 'ボトムスを見る',bottoms_path %></li>
        </ul>
    </ul>
  </div