<h1><%= link_to 'My Look', root_path, class: "#" %></h1>


<%= link_to 'アイテム登録', new_item_path, class: "#" %><br>
<%= link_to 'コーディネート', '#', class: "#" %><br>
        

<h2><%= link_to 'トップスを見る',tops_path %></h2>

<h2><%= link_to 'ボトムスを見る',bottoms_path %></h2>